@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito:wght@400;500;600;700;800;900&family=Orbitron:wght@700&family=Roboto:wght@300;400;500;700&family=Sansita+Swashed:wght@300&display=swap");
:root {
  --color-primary: #11c0f8;
  --color-primary-dark: #0566ea;
  --color-white: #fff;
  --color-white-1: #fdfeff;
  --color-black: #000;
  --color-black-1: #14263f;
  --color-black-2: #2c2c2c;
  --color-grey: #8787a0;
  --color-grey-1: #777777;
  --color-grey-light: #dcdde1;
  --font-family: "Nuito", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: boreder-box;
}

body {
  background-color: var(--color-white-1);
  color: var(--color-grey-1);
}

.margin-medium {
  margin: 3rem 0;
}

.margin-small {
  margin: 1rem 0;
}

.heading-primary {
  font-size: 6.5rem;
  color: var(--color-black);
}

.heading-secondary {
  font-size: 5.5rem;
  color: var(--color-black);
}

.secondary-white {
  text-align: center;
  color: var(--color-white-1);
  margin: 6rem 0;
}

.heading-tertiary {
  font-size: 2.5rem;
  color: var(--color-black);
}

.heading-four {
  font-size: 1.8rem;
  font-weight: 500;
}

.customer-heading {
  color: var(--color-black);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.customer-name {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--color-black);
}

.heading-card {
  font-size: 3.5rem;
  color: var(--color-black);
}

.heading-white {
  color: var(--color-white-1);
}

.header__text {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.6;
  margin: 4rem 0;
}

.about__text {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.6;
  margin: 4rem 0;
}

.support__text {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.6;
  margin: 4rem 0;
}

.p-grey {
  color: var(--color-grey);
}

.services__para {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.6;
  margin: 4rem 0;
}
.services__text {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: justify;
}

.month {
  color: var(--color-grey);
}

.testimonials__text {
  font-size: 1.8rem;
  margin: 2rem 0;
  color: var(--color-grey);
}

.btn-outline {
  position: relative;
  padding: 1.4rem 3rem;
  background-color: var(--color-white);
  border-radius: 1rem;
  font-size: 1.6rem;
  top: -25%;
  cursor: pointer;
  color: var(--color-primary);
  border: none;
}
.btn-outline::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: inherit;
  z-index: -1;
  background: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  margin: -2px;
}

.btn-main {
  padding: 1.5rem 4rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  border: none;
  background: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  color: var(--color-white);
  font-weight: 700;
}

.btn-active {
  background: linear-gradient(to right bottom, var(--color-primary), --color-primary-dark);
  color: var(--color-white);
}

.pricing__cards-container {
  display: flex;
  justify-content: space-evenly;
}

.pricing__card {
  background-color: var(--color-white);
  padding: 5rem;
  border-radius: 1rem;
  position: relative;
  z-index: 4;
}
.pricing__card-list {
  margin-top: 7rem;
}
.pricing__card-list--box {
  display: flex;
  justify-content: baseline;
}
.pricing__card-text {
  font-size: 1.8rem;
}
.pricing__card-dark {
  color: var(--color-white);
  text-align: center;
  margin-bottom: 4rem;
}

.pricing-icon {
  margin-right: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 50%;
  color: green;
  border: 2px solid green;
}

.pricing__box {
  margin-top: 5rem;
  text-align: center;
}
.pricing__box-p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.card-dark::after {
  content: "";
  background-color: var(--color-black-2);
  height: 17vh;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  z-index: -1;
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
}
.navbar__logo--img {
  width: 65%;
}
.navbar__list {
  display: flex;
}
.navbar__list--item {
  margin-left: 30px;
  font-size: 1.8rem;
  list-style: none;
  letter-spacing: 0.1rem;
}
.navbar__list--item:nth-of-type(1) {
  color: var(--color-black);
  font-weight: 700;
}

.testimonials__boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.testimonials__box {
  width: 40%;
  border: 1px solid var(--color-grey-light);
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 5rem;
}
.testimonials__box--text {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-black-1);
  line-height: 1.4;
}
.testimonials__box-customer {
  margin-top: 5rem;
  display: flex;
  position: relative;
}
.testimonials__box-customer--img {
  height: 7rem;
  width: 7rem;
  background-color: var(--color-grey-light);
  border-radius: 50%;
}
.testimonials__box-customer--info {
  position: absolute;
  right: 55%;
  top: 20%;
}

.container {
  width: 121.6rem;
  margin: 0 auto;
}

.header {
  height: 100vh;
}
.header__info {
  display: flex;
  justify-content: space-between;
  margin-top: 12rem;
}
.header__text-box {
  width: 50%;
}
.header__image-box {
  width: 50%;
}
.header__img {
  width: 100%;
}

.about {
  height: 100vh;
}
.about__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}
.about__image-box {
  width: 50%;
}
.about__image {
  width: 100%;
}
.about__text-box {
  width: 50%;
  margin-left: 5rem;
}

.support {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.support__info-box {
  width: 50%;
}
.support__image-box {
  width: 50%;
}
.support__image {
  width: 100%;
}

.services__info {
  display: flex;
  justify-content: space-around;
}
.services__heading {
  width: 50%;
}
.services__para-box {
  width: 50%;
}
.services__features-box {
  display: flex;
  justify-content: space-between;
  margin: 10rem 0;
  flex-wrap: wrap;
}
.services__box {
  width: 28.33%;
  margin: 4rem 0;
}
.services__img {
  width: 16%;
}

.pricing__section {
  height: 115vh;
  background: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
  overflow-y: hidden;
}

.testimonials {
  height: 110vh;
}
.testimonials__content {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}/*# sourceMappingURL=main.css.map */