// g-fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito:wght@400;500;600;700;800;900&family=Orbitron:wght@700&family=Roboto:wght@300;400;500;700&family=Sansita+Swashed:wght@300&display=swap");

// css variables
:root {
  // colors
  --color-primary: #11c0f8;
  --color-primary-dark: #0566ea;
  --color-white: #fff;
  --color-white-1: #fdfeff;
  --color-black: #000;
  --color-black-1: #14263f;
  --colr-black-2: #2c2c2c;
  --color-grey: #8787a0;
  --color-grey-1: #777777;

  // font variable
  --font-family: "Nuito", sans-serif;
}

// Global css reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //this defines what 1rem is. its 10px, 10/16 = 62.5%
  box-sizing: boreder-box;
}

body {
  background-color: var(--color-white-1);
  color: var(--color-grey-1);
}

.margin-medium {
  margin: 3rem 0;
}
