// main cointainer
.container {
  width: 121.6rem;
  margin: 0 auto;
}

// Header
.header {
  height: 100vh;

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
  }

  &__text-box {
    width: 50%;
  }

  &__image-box {
    width: 50%;
  }

  &__img {
    width: 100%;
  }
}

// About
.about {
  height: 100vh;
  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }

  &__image-box {
    width: 50%;
  }
  &__image {
    width: 100%;
  }

  &__text-box {
    width: 50%;
    margin-left: 5rem;
  }
}

// Section support
.support {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__info-box {
    width: 50%;
  }
  &__image-box {
    width: 50%;
  }

  &__image {
    width: 100%;
  }
}

// Section services
.services {
  &__info {
    display: flex;
    justify-content: space-around;
  }

  &__heading {
    width: 50%;
  }

  &__para-box {
    width: 50%;
  }

  &__features-box {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    flex-wrap: wrap;
  }

  &__box {
    width: 28.33%;
    margin: 4rem 0;
  }

  &__img {
    width: 18%;
  }
}
