// main cointainer
.container {
  width: 121.6rem;
  margin: 0 auto;
}

// Header
.header {
  height: 100vh;

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
  }

  &__text-box {
    width: 50%;
  }

  &__image-box {
    width: 50%;
  }

  &__img {
    width: 100%;
  }
}

// About
.about {
  height: 100vh;
  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }

  &__image-box {
    width: 50%;
  }
  &__image {
    width: 100%;
  }

  &__text-box {
    width: 50%;
    margin-left: 5rem;
  }
}
